---
import Layout from '@/layouts/Layout.astro'
---

<Layout
  title='Students App - Page not Found'
  description='Ok, sems like something is wrong here...'
>
  <main>
    <h1>Ok, this is kinda awkward...</h1>
  </main>
</Layout>
